:root {
    --primary-color: #F5F4FA ;
    --secondary-color: #2F303A ;
    --accent-color: #2196F3 ;
    --common-white: #FFFFFF ;
    --p-color: #757575;
    --text-size: 14px;
}
* {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
.list {
    list-style: none;
}
.body {
    width: 1600px;
    height: 2350px;
}
.header {
    width: 1600px;
    height: 80px;
    margin: 0 auto;
    background-color: var(--common-white);
    display: flex;
}
.title-logo,
.logo-dot {
    font-family: 'Raleway';
    font-size: 26px;
    font-weight: 700;
    text-decoration: none;
}
.title-logo {
    margin: 27px 215px 24px 93px;
    Width: 145px;
    Height: 31px;
}
.logo-dot {
    color: var(--accent-color);
}
.logo-dot2{
    color: var(--secondary-color);
}
.navigation {
    display: flex;
}
.navigation-list1 {
    margin: 32px 25px 32px 0px;
}
.navigation-list2 {
    margin: 32px 25px 32px 25px;
}
.navigation-list3 {
    margin: 32px 0px 32px 25px;

}
.navigation-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: var(--text-size);
    line-height: 16px;
    letter-spacing: 0.02em;
    
}
.contacts {
    display: flex;
    margin: 32px 215px 32px 330px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
}
.contact-box {
    width: 310px;
    margin-left: 32px 215px 32px 330px;
}
.contact-phone {
    color: var(--secondary-color);
    text-decoration: none;
    margin-left: 50px;

}
.contact-email{
    color: var(--secondary-color);
    text-decoration: none;
}
.background {
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background-color: var(--secondary-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.hero {
    position: absolute;
    width: 696px;
    height: 120px;
    left: 452px;
    top: 200px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--common-white);
    
}
.button {
    position: absolute;
    background-color: var(--accent-color);
    width: 200px;
    height: 50px;
    left: 700px;
    top: 370px;
    border-radius: 7px;
    border: 1px solid #000000
}
.text-button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: var(--common-white);
}
.list-method {
    height: 100px;
    width: 1170px;
    margin: 700px 215px 94px 215px;
    display: flex;
}
.method1 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 215px;
    top: 774px;
}
.method2 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 515px;
    top: 774px;
}
.method3 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 815px;
    top: 774px;
}
.method4 {
    position: absolute;
    width: 270px;
    height: 101px;
    left: 1115px;
    top: 774px;
}
.method-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}
.paragraph {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
.activity {
    display: flex;
}
.what-we-do {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}
.activity {
    padding: 50px 215px 50px 215px;
}
.activity-link1 {
    margin-right: 30px;
}
.activity-link2 {
    margin-right: 30px;
}
.background2 {
    height: 650px;
    width: 1600px;
    background-color: var(--primary-color);
}
.our-team {
    padding-top: 95px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-color);
    padding-bottom: 50px;
}
.team {
    height: 370px;
    width: 1170px;
    display: flex;
    padding: 0px 215px 95px 215px;
}
.box1 {
    margin-right: 30px;
    width: 270px;
    height: 368px;
    left: 215px;
    top: 1635px;
    background: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.box2 {
    margin-right: 30px;
    width: 270px;
    height: 368px;
    left: 515px;
    top: 1635px;
    background: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px; 
}
.box3 {
    margin-right: 30px;
    width: 270px;
    height: 368px;
    left: 815px;
    top: 1635px;
    background: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.box4 {
    margin-right: 30px;
    width: 270px;
    height: 368px;
    left: 1115px;
    top: 1635px;
    background: var(--common-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-name {
    padding-top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-work {
    padding-top: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--p-color);
}
